.cat-info__label {
  color: $special_dark-grey;

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }
}

.cat-info__name {
  padding-right: 14px;

  @media (min-width: $tablet-width) {
    padding-right: 17px;
  }
}

.cat-info__input {
  height: 45px;
  padding: 0 15px;
  font-family: $font-family-primary;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  border: $input-border;

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 0 19px;
    font-size: 20px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 16px;
  }
}
