.contacts-fieldset {
  border: none;
}

.contacts-fieldset__title {
  position: relative;
  margin-bottom: 32px;
  max-width: 200px;
  font-size: 24px;
  line-height: 108%;
  background-color: $basic_white;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin-bottom: 76px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 36px;
    line-height: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    width: calc(100vw - 46px);
    height: 2px;
    top: 17px;
    left: 0;
    background-color: $basic_green;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: calc(100vw - 30px);
      top: 23px;
      left: -30px;
    }

    @media (min-width: $desktop-width) {
      width: calc(100vw - 16px);
      left: calc((1440px - 100vw) / 2 - 70px);
    }
  }
}

.contacts-fieldset__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }
}

.contacts-fieldset__label {
  display: flex;
  align-items: center;
  line-height: 112%;
  text-transform: uppercase;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
  }

  &:not(:last-child) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.contacts-fieldset__name {
  padding-right: 13px;
  min-width: max-content;

  @media (min-width: $tablet-width) {
    padding-right: 18px;
  }
}

.contacts-fieldset__input {
  position: relative;
  flex-grow: 1;
  height: 45px;
  padding-left: 15px;
  padding-right: 35px;
  font-family: $font-family-primary;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $special_dark-grey;
  border: $input-border;

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 0 19px;
    font-size: 20px;
    line-height: 150%;
  }
}
