.contacts {
  &--dark-background {
    background-color: $basic_grey;
  }
}

.contacts__description {
  padding: 28px 20px 22px;
  display: flex;
}

.contacts__title {
  margin: 0;
  width: 50%;
  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $basic-dark-grey;
}

.contacts__address {
  width: 50%;
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 143%;
  color: $special_dark-grey;
  font-style: normal;
}
