.contacts-fieldset {
  border: none;
}

.contacts-fieldset__title {
  position: relative;
  padding-right: 15px;
  margin-bottom: 33px;
  max-width: 203px;
  font-size: 24px;
  line-height: 108%;
  background-color: $basic_white;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin-bottom: 76px;
    padding-right: 40px;
    padding-left: 37px;
    font-size: 36px;
    line-height: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    width: calc(100vw - 18px);
    height: 2px;
    top: 16px;
    left: 0;
    background-color: $basic_green;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 100vw;
      top: 22px;
      left: calc((384px - 50vw) - 32px);
    }

    @media (min-width: $desktop-width) {
      left: calc((720px - 50vw) - 89px);
    }
  }
}

.contacts-fieldset__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 34px 0 39px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 71px;
  }
}

.contacts-fieldset__label {
  position: relative;
  color: $special_dark-grey;

  &:not(:last-child) {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.contacts-fieldset__name {
  padding-right: 13px;

  @media (min-width: $tablet-width) {
    padding-right: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 17px;
  }
}

.contacts-fieldset__input {
  position: relative;
  flex-grow: 1;
  height: 45px;
  padding-left: 14px;
  padding-right: 35px;
  font-family: $font-family-primary;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  color: $special_dark-grey;
  border: $input-border;

  &:valid + .contacts-fieldset__icon {
    fill: $basic_green;
  }

  &:invalid:not(:placeholder-shown) + .contacts-fieldset__icon {
    fill: $status_error;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 0 19px;
    font-size: 20px;
    line-height: 150%;
  }
}

.contacts-fieldset__icon {
  content: "";
  position: absolute;
  fill: $special_dark-grey-2;

  &--email {
    top: 17px;
    right: 19px;

    @media (min-width: $desktop-width) {
      top: 20px;
      right: 26px;
    }
  }

  &--phone {
    top: 14px;
    right: 15px;

    @media (min-width: $desktop-width) {
      top: 16px;
      right: 21px;
    }
  }
}
