.demo {
  padding: 28px 0 36px;
  background-color: $background_grey;
  overflow-wrap: break-word;

  @media (min-width: $tablet-width) {
    padding: 47px 0 0;
    background: linear-gradient($basic_white 0%, $basic_white 618px, $background_grey 618px, $background_grey 100%);
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 64px;
    background: linear-gradient($basic_white 0%, $basic_white 199px, $basic_grey 199px, $basic_grey 100%);
  }
}

.demo__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 110px;
  }
}

.demo__description {
  padding: 0 21px 44px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 87px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 155px 0 0;
  }
}

.demo__title {
  margin-bottom: 33px;
  line-height: 111%;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.demo__text {
  margin: 0;
  margin-bottom: 24px;
  font-family: $font-family-secondary;
  font-size: 14px;
  color: $special_dark-grey;
  line-height: 129%;

  @media (min-width: $tablet-width) {
    max-width: 96%;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.demo__stats {
  margin: 0;
  display: grid;
  grid-template-areas: "weight time" "money money";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 31px;

  @media (min-width: $tablet-width) {
    grid-template-areas: "weight time money";
    grid-template-columns: min-content min-content 1fr;
    grid-column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "weight time" "money money";
    grid-template-columns: min-content min-content;
  }
}

.demo__stat-item {
  display: flex;
  justify-content: center;

  &--block {
    position: relative;
    width: 124px;
    margin-right: auto;
    margin-bottom: 34px;
    margin-left: auto;
    border: $border-common;
    border-radius: 3px;

    @media (min-width: $tablet-width) {
      width: 162px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 60px;
    }
  }

  &--line {
    @media (min-width: $tablet-width) {
      flex-direction: column;
      align-items: flex-end;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      align-items: start;
      justify-content: start;
    }
  }

  &--weight {
    grid-area: weight;
  }

  &--time {
    grid-area: time;
  }

  &--money {
    grid-area: money;
  }
}

.demo__stat-name {
  margin: 0;

  &--block {
    position: absolute;
    top: 47px;
    order: 1;
    width: min-content;
    padding: 0 15px;
    font-family: $font-family-secondary;
    font-size: 12px;
    line-height: 100%;
    color: $special_dark-grey;
    text-align: center;
    text-transform: lowercase;
    background-color: $background_grey;

    @media (min-width: $tablet-width) {
      top: 63px;
      width: max-content;
      padding: 0 8px;
      font-size: 14px;
      background-color: $basic_white;
    }

    @media (min-width: $desktop-width) {
      top: 61px;
      background-color: $basic_grey;
    }
  }

  &--line {
    order: -1;
    font-size: 14px;
    line-height: 143%;
    text-transform: uppercase;
    white-space: pre;

    @media (min-width: $tablet-width) {
      margin-bottom: 8px;
      font-size: 20px;
      line-height: 100%;
      white-space: normal;
    }

    @media (min-width: $desktop-width) {
      margin-right: 63px;
    }
  }
}

.demo__stat-value {
  text-transform: uppercase;

  &--block {
    padding: 14px 0 16px;
    font-size: 24px;
    line-height: 100%;
    text-align: center;

    @media (min-width: $tablet-width) {
      padding: 15px 0 18px;
      font-size: 30px;
      line-height: 123%;
    }
  }

  &--line {
    font-size: 14px;
    line-height: 143%;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 100%;
    }
  }
}

.demo__slider {
  @media (min-width: $tablet-width) {
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    margin-left: 39px;
  }
}
