.description {
  padding: 28px 20px 43px;

  @media (min-width: $tablet-width) {
    padding: 45px 0;
    border-bottom: 1px solid $border-color-secondary;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 0 8px;
    border-bottom: none;
  }
}

.description__container {
  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 110px;
    padding-left: 110px;
  }
}

.description__title {
  padding-bottom: 38px;
  line-height: 111%;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
    font-size: 60px;
    line-height: 100%;
  }
}

.description__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 77px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 45px;
  }
}

.description__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $basic_green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
  }

  &--useful::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--simply::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--nutritious::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--fast::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }

  @media (min-width: $tablet-width) {
    width: 280px;
    margin-right: auto;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      top: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      top: -39px;
      left: 114px;
      font-size: 280px;
      line-height: 100%;
      color: $basic_grey;
      z-index: -1;
    }

    &--useful::after {
      content: "1";
    }

    &--simply::after {
      content: "2";
    }

    &--nutritious::after {
      content: "3";
    }

    &--fast::after {
      content: "4";
    }
  }

  @media (min-width: $desktop-width) {
    &:last-child {
      margin-right: 0;
    }
  }
}

.description__text {
  margin: 0;
  padding-left: 80px;
  font-family: $font-family-secondary;
  font-size: 14px;
  color: $special_dark-grey;
  line-height: 129%;

  @media (min-width: $tablet-width) {
    width: 91%;
    padding-top: 112px;
    padding-bottom: 57px;
    padding-left: 0;
    font-size: 16px;
    line-height: 150%;
  }
}
