.page-footer {
  padding: 0 20px;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    padding: 38px 30px 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 0 42px;
  }
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-right: 110px;
    padding-left: 110px;
  }
}

.page-footer__logo {
  margin: 0 auto;
  padding: 39px 0 32px;
  border-bottom: 1px solid $border-color-primary;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.page-footer__social {
  margin: 0 auto;
  padding: 0 20px;
  border-bottom: 1px solid $border-color-primary;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
    margin-left: 34px;
  }
}

.page-footer__copyright {
  padding: 18px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
