.page-footer {
  padding: 0 20px;
  background-color: $basic_grey;
}

.page-footer__logo {
  margin: 0 auto;
  padding: 39px 0 32px;
  border-bottom: 1px solid $border-color-primary;
}

.page-footer__social {
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid $border-color-primary;
}

.page-footer__copyright {
  padding: 22px 20px;
}
