.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-wrap: break-word;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: calc(50% - 30px) calc(50% - 30px);
    grid-column-gap: 60px;
    grid-row-gap: 142px;
    padding: 0 30px 68px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: calc(25% - 60px) calc(25% - 60px) calc(25% - 60px) calc(25% - 60px);
    grid-column-gap: 80px;
    grid-row-gap: 139px;
    padding: 0 110px 73px;
  }
}
