.page-header {
  padding-top: 12px;

  &--not-main {
    border-bottom: 1px solid $border-color-primary;
  }

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.page-header__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__logo {
  padding: 0 20px 11px;
  width: max-content;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 110px;
  }
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding: 17px 110px 0 0;
  }
}
