.indicators {
  margin: 0;
}

.indicators__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  font-family: $font-family-secondary;
  font-size: 12px;
  line-height: 133%;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 100%;
    border-bottom: $border-common;
  }
}

.indicators__name {
  max-width: 48%;
  margin: 0;
  order: -1;
  word-break: break-word;
}

.indicators__value {
  max-width: 48%;
  word-break: break-word;
}
