.logo {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--unlink:hover,
  &--unlink:active {
    opacity: 1;
  }
}

.logo__title {
  display: block;
  margin: 0 auto;
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }
}
