.logo {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--unlink:hover,
  &--unlink:active {
    opacity: 1;
  }
}

.logo__title {
  display: block;
  margin: 0 auto;
}
