.main-fieldset {
  border: none;
}

.main-fieldset__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }
}

.main-fieldset__cat-info {
  padding: 0 18px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 72px;

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.main-fieldset__programm {
  padding: 19px 18px 20px;

  @media (min-width: $tablet-width) {
    padding: 24px 28px 25px;
  }
}
