.page-main__title {
  padding: 26px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 61px 30px 165px;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 110px 164px;
  }

  &--form {
    padding-bottom: 38px;

    @media (min-width: $tablet-width) {
      padding-bottom: 55px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 55px;
    }
  }
}

.page-main__text {
  max-width: 275px;
  margin: 0 0 39px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 470px;
    padding: 0 70px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 150%;
  }

  @media (min-width: $desktop-width) {
    max-width: 550px;
    padding: 0 110px;
  }
}
