.map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.map__image {
  width: 100%;
  height: auto;
  min-height: 362px;
  border: none;
}
