.map {
  position: relative;
  overflow: hidden;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map__static-image {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  margin-top: calc(181px - 56.6%);

  @media (min-width: $tablet-width) {
    margin-top: calc(200px - 26%);
  }

  @media (min-width: $desktop-width) {
    margin-top: calc(200px - 13.9%);
  }

  img {
    width: 100%;
    height: auto;
  }
}

.map__image {
  width: 100%;
  height: 100%;
  border: none;
}
