.nav {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 133%;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 150%;
  }

  &--main {
    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 95.3vw;
      background-color: $basic_green;
      background-image: url("../img/index-background-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;

      @media (min-width: $tablet-width) {
        display: none;
      }

      @media (min-width: $desktop-width) {
        display: block;
        top: -54px;
        width: calc(50vw - 17px);
        height: 696px;
        background-image: url("../img/index-background-desktop@1x.jpg");
      }

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-background-mobile@2x.jpg");

        @media (min-width: $desktop-width) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }
      }
    }

    .nav__link {
      @media (min-width: $desktop-width) {
        color: $basic_white;
      }
    }

    .nav__link-text {
      &--current {
        @media (min-width: $desktop-width) {
          padding-bottom: 6px;
          border-bottom: 2px solid $basic_white;
        }
      }
    }
  }
}

.nav__toggle {
  position: absolute;
  top: -42px;
  right: 20px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;
    max-width: 478px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 132px;
  }
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $border-color-secondary;

  @media (min-width: $tablet-width) {
    border: none;


    &:first-child .nav__link {
      padding: 0;
      text-align: right;
    }
  }

  &:last-child {
    border-bottom: 1px solid $border-color-secondary;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 23px 20px;
  color: $basic_black;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: max-content;
    padding: 0 0 0 36px;
    font-weight: normal;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current {
    padding: 12px 20px;
    cursor: default;

    @media (min-width: $tablet-width) {
      padding: 0 0 0 36px;
    }

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

.nav__link-text {
  &--current {
    display: block;
    padding: 9px 0;
    border-bottom: 2px solid $basic_green;

    @media (min-width: $tablet-width) {
      padding: 0 0 6px;
    }
  }
}
