/*.no-js {
  display: none;
}*/

.no-js {
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
  }

  .map__static-image {
    display: block;
  }

  .hidden {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

