.offer {
  margin: 0;
  background-color: $basic_grey;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.offer__title {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 91px;
  font-weight: normal;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $basic_green;
  }

  &--slim::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 7px;
    width: 36px;
    height: 50px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--pro::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -9px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.offer__text {
  margin: 0;
  padding-bottom: 23px;
  font-family: $font-family-secondary;
  font-size: 14px;
  color: $special_dark-grey;
  line-height: 129%;
  border-bottom: 1px solid $border-color-primary;
}

.offer__link-text {
  position: relative;
  display: block;
  width: max-content;
  max-width: calc(100% - 49px);
  padding: 20px 0;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    right: -49px;
    width: 32px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: left center;
  }
}

.offer__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;

  color: $basic_black;

  &:hover {
    .offer__link-text::after {
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}
