.order-form {
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }

  input[disabled] + span,
  input[disabled]:hover + span,
  input[disabled]:active + span {
    color: $special_dark-grey-2;
    opacity: 0.3;
    cursor: default;
  }

  input[disabled] + span::before,
  input[disabled]:hover + span::before,
  input[disabled]:active + span::before {
    border: $border-common;
  }
}

.order-form__main-info {
  padding: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding: 0 65px 0 69px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin-bottom: 69px;
  }
}

.order-form__contacts {
  padding: 0 16px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
    margin-bottom: 69px;
  }
}

.order-form__comment {
  padding: 0 16px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 0;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
    margin-bottom: 64px;
  }
}

.order-form__extra {
  padding: 0 16px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
    margin-bottom: 61px;
  }
}

.order-form__button-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    align-items: center;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 80px;
    padding: 0 110px;
  }
}

.order-form__button {
  width: 100%;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 125%;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    min-height: 52px;
    font-size: 20px;
    line-height: 0;
  }
}

.order-form__note {
  margin: 0;
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 114%;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 100%;
    text-align: left;
  }
}
