.order-form {
  padding-bottom: 27px;
}

.order-form__main-info {
  padding: 0 20px 24px;
}

.order-form__programm {
  padding: 20px 20px 22px;
}

.order-form__contacts {
  padding: 32px 20px 27px;
}

.order-form__comment {
  padding: 0 20px 27px;
}

.order-form__extra {
  padding: 0 20px 34px;
}

.order-form__button-wrap {
  padding: 0 20px 21px;
}

.order-form__button {
  width: 100%;
}

.order-form__note {
  margin: 0 auto;
  padding: 0 20px;
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
}
