.slider__wrapper {
  display: grid;
  grid-template-areas: "image_before image_before image_before" "image_after image_after image_after" "text_before toggle text_after";
  grid-template-columns: 1fr 84px 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 430px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 71px 430px 69px;
  }
}

.slider__text {
  margin: 0;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
  }

  &--before {
    grid-area: text_before;
    margin-right: 17px;
    text-align: right;

    @media (min-width: $tablet-width) {
      margin-right: 24px;
    }
  }

  &--after {
    grid-area: text_after;
    margin-left: 18px;
  }
}

.slider__image {
  margin-right: auto;
  margin-bottom: 22px;
  margin-left: auto;
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 517px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -80px;
  }

  &--before {
    grid-area: image_before;
    display: none;
  }

  &--after {
    grid-area: image_after;
  }
}

.slider__toggle {
  position: relative;
  grid-area: toggle;
  width: 84px;
  height: 14px;
  border: $border-common;
  border-radius: 7px;
  background-color: $basic_white;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
    background-color: $special_grey;
    cursor: pointer;

    &:hover::after {
      box-shadow: inset 0 0 0 12px $basic_white, $shadow_hover-box-shadow;
    }

    &:active::after {
      border: 1px solid $basic_green;
      box-shadow: inset 0 0 0 12px $basic_white, $shadow_pressed-box-shadow;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: 6px;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: $basic_green;

    @media (min-width: $tablet-width) {
      top: calc(50% - 17px);
      left: calc(50% - 17px);
      width: 34px;
      height: 34px;
      border: 1px solid $special_grey;
      box-shadow: inset 0 0 0 12px $basic_white, $shadow_normal-box-shadow;
      border-radius: 50%;
      background-color: $basic_green;
    }
  }
}
