.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.social__item {
  width: 55px;
  height: 60px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &:hover .social__icon {
    fill: $basic_green;
  }

  &:active .social__icon {
    fill: $basic_green;
    opacity: 0.3;
  }
}

.social__icon {
  fill: $special_grey-2;

  &--vk {
    width: 22px;
    height: 12px;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
      padding-bottom: 3px;
    }
  }

  &--instagram {
    width: 16px;
    height: 16px;
    padding-top: 2px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
      padding-top: 0;
    }
  }

  &--fb {
    width: 10px;
    height: 19px;
    padding-top: 2px;

    @media (min-width: $tablet-width) {
      width: 29px;
      height: 28px;
      padding: 0 13px 0 0;
    }
  }
}
