.toggle {
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &--open {
    background-image: url("../img/icon-mobile-menu.svg");
  }

  &--close {
    background-image: url("../img/icon-close.svg");
  }
}
