.toggle {
  position: relative;
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  &--open {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 1.5px;
      background-color: $basic_black;
      box-shadow: 0 8px 0 0 $basic_black, 0 16px 0 0 $basic_black;
    }
  }

  &--close {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -4px;
      left: 11px;
      width: 1.5px;
      height: 25px;
      background-color: $basic_black;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}
